.selectize-dropdown,.selectize-input,.selectize-input input{color:#fff;font-family:inherit;font-size:16px;line-height:28px;font-smoothing:inherit}

.selectize-input{position:relative;width: 100%;padding-bottom: 7px;}

.selectize-input>*{vertical-align:baseline;display:inline-block;}

.selectize-control.multi .selectize-input.disabled>div,.selectize-control.multi .selectize-input.disabled>div.active{color:#7d7d7d;background:#fff;border:0 solid #fff}

.selectize-input>input{display:inline-block !important;padding:0 !important;min-height:0 !important;max-height:none !important;max-width:100% !important;margin:0 !important;text-indent:0 !important;border:0 none !important;background:none !important;line-height:inherit !important;user-select:auto !important;box-shadow:none !important}

.selectize-input::after{content:" ";display:block;clear:left}

.selectize-dropdown [data-selectable]{cursor:pointer;overflow:hidden}

.selectize-dropdown [data-selectable] .highlight{background:rgba(125,168,208,.2);border-radius:1px}

.selectize-dropdown .option,.selectize-dropdown .optgroup-header,.selectize-dropdown .no-results,.selectize-dropdown .create{padding-left: 8px}

.selectize-dropdown .option,.selectize-dropdown [data-disabled],.selectize-dropdown [data-disabled] [data-selectable].option{cursor:inherit;opacity:.5}

.selectize-dropdown [data-selectable].option{opacity:1;cursor:pointer;border-top: 1px solid rgba(255, 255, 255, 0.4);}

.selectize-dropdown .active{background-color:#f5fafd;color:#495c68;}

.selectize-dropdown-content{overflow-y:auto;overflow-x:hidden;}

.selectize-input{display:inline-block;width:100%;position:relative;z-index:1;box-sizing:border-box;}
.selectize-control.single .selectize-input:after{content:" ";display:block;position:absolute;top:30%;right:20px;width:0;height:0;border-style:solid;border-width:5px 5px 0 5px;border-color:#fff transparent transparent transparent}
.selectize-control.single .selectize-input.dropdown-active:after{margin-top:-4px;border-width:0 5px 5px 5px;border-color:transparent transparent #fff transparent}
